---
layout: default
title: INDIASTARTUPJOBS
class: 'home-template'
navigation: True
---

</br>
<section class="hero diagonal patterned" style="background-image: url('{{ site.baseurl }}/images/headerImage.jpg');">
  <div class="container">
    <h2 class="heading-header" style="text-align: center;">JOIN A STARTUP</h2>
      <p></p><p></p>
    <h3 class="subtext editable" style="text-align: center;"><b>Find your perfect job among {{ site.posts.size }} opportunities at 84 startups.</b></p></h3>
    
    {% include searchbar.html %}


    <!--<h4><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Us</a></h4>-->
  </div>
</section>

<section class="diagonal patterned">
  <!--<section class="diagonal patterned">-->
  <div class="container halves">
    <div>
      <h3 class="heading-header">BROWSE CATEGORIES</h3>
      
      <a href="{{ site.baseurl }}/itjobs/" class="pricing-button alt">IT / SOFTWARE DEVELOPMENT ({{ site.categories['it'].size }})</a>
      &nbsp;&nbsp;
      <a href="{{ site.baseurl }}/marketing/" class="pricing-button alt">MARKETING / ADVERTISING ({{ site.categories['marketing'].size }})</a></h7>
      &nbsp;&nbsp;
      <a href="{{ site.baseurl }}/finance/" class="pricing-button alt">FINANCE ({{ site.categories['finance'].size }})</a></h7>
      &nbsp;&nbsp;
      <a href="{{ site.baseurl }}/design/" class="pricing-button alt">DESIGN / UX ({{ site.categories['design'].size }})</a></h7>
      &nbsp;&nbsp;
      <a href="{{ site.baseurl }}/sales/" class="pricing-button alt">SALES ({{ site.categories['sales'].size }})</a></h7>
      &nbsp;&nbsp;
      <a href="{{ site.baseurl }}/support/" class="pricing-button alt">BUSNIESS OPERATIONS / SUPPORT ({{ site.categories['support'].size }})</a></h7>
      &nbsp;&nbsp;
      <a href="{{ site.baseurl }}/product/" class="pricing-button alt">PRODUCT MANAGEMENT ({{ site.categories['product'].size }})</a></h7>
      &nbsp;&nbsp;
      <a href="{{ site.baseurl }}/hr-recruiting/" class="pricing-button alt">HR / RECRUTING ({{ site.categories['hr'].size }})</a></h7>
      &nbsp;&nbsp;
       <a href="{{ site.baseurl }}/maintenance/" class="pricing-button alt">MAINTENANCE ({{ site.categories['maintenance'].size }})</a></h7>
      &nbsp;&nbsp;
      <a href="{{ site.baseurl }}/internships/" class="pricing-button alt">INTERNSHIPS ({{ site.categories['internships'].size }})</a></h7>
      &nbsp;&nbsp;
      <!--<h7 class="pricing-button"><a href="{{ site.baseurl }}/freelance/">FREELANCE &rarr;</a></h7>
      <h7 class="pricing-button"><a href="{{ site.baseurl }}/cofounders/">SEEKING COFOUNDERS &rarr;</a></h7>-->
      <a href="{{ site.baseurl }}/other-jobs/" class="pricing-button alt">OTHERS ({{ site.categories['other'].size }})</a></h7>
      <!--<p class="editable">We take pride in our previous work and our happy customers. We cater to any sector to boost business and increase exposure.</p>
      <p class="editable"><a href="{{ site.baseurl }}/portfolio/">View Full Portfolio &rarr;</a></p>-->
    </div>
  </div>
</section>

<section class="diagonal alternate">
  <div class="container halves">
    <div>
    
      <h3 class="heading-header" style="text-align: center;">Top Rated websites for Freelancing Jobs</h3>
      <a href="https://go.fiverr.com/visit/?bta=492474&nci=8358" rel="sponsored"  Target="_Top">
      <figure>
        <img border="0" src="{{ site.baseurl }}/images/feverr.jpeg" width="250" height="250">
        
          <!--<img border="0" src="https://fiverr.ck-cdn.com/tn/serve/?cid=19455597"  width="250" height="250">-->
          <p></p>
        <figcaption style="text-align: center; font-style: italic;color: white;background-color: black;" width="250">Fiverr - Freelance Services Marketplace</figcaption>
      </figure>
    </a>
    </div>
 </div>

</section>

<section class="hero">
  <div class="container halves">
    <div>
       <h3 class="heading-header" style="text-align: center;">FEATURED JOBS</h3>
       <h4 class="pricing-features">IT / SOFTWARE DEVELOPMENT</h4>
          <table style="width:100%">
          {% for post in site.categories['topit'] %}
          <tr>
            <div>
              <div>
                <td style="width:70%"><h7>{{ post.title }}</h7></td>
                <td><h7 class="card-text read-more heading-header">
                    <a href="{{ post.url | relative_url }}">
                        Read more <i class="fa fa-xs fa-hover fa-chevron-right" aria-hidden="true"></i>
                    </a></h7>
                </td>
            </div>
        </div>
        </tr>
        {% endfor %}
      </table>

      <h4 class="pricing-features">SALES</h4>
          <table style="width:100%">
          {% for post in site.categories['topsales'] %}
          <tr>
            <div>
              <div>
                <td style="width:70%"><h7>{{ post.title }}</h7></td>
                <td><h7 class="card-text read-more heading-header">
                    <a href="{{ post.url | relative_url }}">
                        Read more <i class="fa fa-xs fa-hover fa-chevron-right" aria-hidden="true"></i>
                    </a></h7>
                </td>
            </div>
        </div>
        </tr>
        {% endfor %}
      </table>

      <h4 class="pricing-features">BUSINESS OPERATION / SUPPORT</h4>
          <table style="width:100%">
          {% for post in site.categories['topsupport'] %}
          <tr>
            <div>
              <div>
                <td style="width:70%"><h7>{{ post.title }}</h7></td>
                <td><h7 class="card-text read-more heading-header">
                    <a href="{{ post.url | relative_url }}">
                        Read more <i class="fa fa-xs fa-hover fa-chevron-right" aria-hidden="true"></i>
                    </a></h7>
                </td>
            </div>
        </div>
        </tr>
        {% endfor %}
      </table>

      <h4 class="pricing-features">PRODUCT</h4>
          <table style="width:100%">
          {% for post in site.categories['topproduct'] %}
          <tr>
            <div>
              <div>
                <td style="width:70%"><h7>{{ post.title }}</h4></h7>
                <td><h7 class="card-text read-more heading-header">
                    <a href="{{ post.url | relative_url }}">
                        Read more <i class="fa fa-xs fa-hover fa-chevron-right" aria-hidden="true"></i>
                    </a></h7>
                </td>
            </div>
        </div>
        </tr>
        {% endfor %}
      </table>

      <h4 class="pricing-features">FINANCE</h4>
          <table style="width:100%">
          {% for post in site.categories['topfinance'] %}
          <tr>
            <div>
              <div>
                <td style="width:70%;"><h7>{{ post.title }}</h7></td>
                <td><h7 class="card-text read-more heading-header">
                    <a href="{{ post.url | relative_url }}">
                        Read more <i class="fa fa-xs fa-hover fa-chevron-right" aria-hidden="true"></i>
                    </a></h7>
                </td>
            </div>
        </div>
        </tr>
        {% endfor %}
      </table>


    </div>
  </div>
</section>

<!--<section class="diagonal alternate">
	<div class="container halves">
		<div class="background">
  <div class="container">
    <div class="panel pricing-table">
      
      <div class="pricing-plan">
        <img src="https://s22.postimg.cc/8mv5gn7w1/paper-plane.png" alt="" class="pricing-img">
        <h2 class="pricing-header">STARTER</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">50 </li>
          <li class="pricing-features-item">WordPress Theme Based</li>
          <li class="pricing-features-item">100% All Devices Responsive.</li>
          <li class="pricing-features-item">Email Integration.</li>
          <li class="pricing-features-item">Woocommerce Based.</li>
        </ul>
        <span class="pricing-price">₹5,999</span><h5>+ 18% Gst</h5>
        <a href="/urban/contact/" class="pricing-button">Contact Us</a>
      </div>
      
      <div class="pricing-plan">
        <img src="https://s28.postimg.cc/ju5bnc3x9/plane.png" alt="" class="pricing-img">
        <h2 class="pricing-header">Advance</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">1 Domain (.com/.in)</li>
          <li class="pricing-features-item" style="color:red;">App for Android Phones</li>
          <li class="pricing-features-item">WordPress Theme Based</li>
          <li class="pricing-features-item">100% All Devices Responsive.</li>
          <li class="pricing-features-item">Email Integration.</li>
        </ul>
        <span class="pricing-price">₹39,999</span><h5>+ 18% Gst</h5>
        <a href="/urban/contact/" class="pricing-button">Contact Us</a>
      </div>
      
      <div class="pricing-plan">
        <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="pricing-img">
        <h2 class="pricing-header">Enterprise</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">1 Domain (.com/.in)</li>
          <li class="pricing-features-item" style="color:red;">App for Android Phones</li>
          <li class="pricing-features-item" style="color:red;">App for IPhone Phones</li>
          <li class="pricing-features-item">WordPress Theme Based</li>
          <li class="pricing-features-item">100% All Devices Responsive.</li>
        </ul>
        <span class="pricing-price">₹79,999</span><h5>+ 18% Gst</h5>
        <a href="/urban/contact/" class="pricing-button">Contact Us</a>
      </div>
      
    </div>
  </div>
</div>
	</div>
</section>
-->