<div class="card">
    <div class="card-body">
        <h3 class="card-title text-center"> Top 10 Books To Crack Interview</h3>
        <div class="my-2 mx-3">
           
           <a href="{{ site.baseurl }}/company/udaanJobs/"><img src="{{ site.baseurl }}/company/udaan.png" alt="udaan" width="75" height="75"> </a>

           &nbsp;&nbsp;

           <a href="{{ site.baseurl }}/company/10club/"><img src="{{ site.baseurl }}/company/10club.svg" alt="10club" width="75" height="75"> </a>

           &nbsp;&nbsp;

           <a href="{{ site.baseurl }}/company/arzooo/"><img src="{{ site.baseurl }}/company/arzooo.png" alt="arzooo" width="75" height="75"> </a>

           &nbsp;&nbsp;

           <a href="{{ site.baseurl }}/company/avataar/"><img src="{{ site.baseurl }}/company/avataar.png" alt="avataar" width="75" height="75"> </a>

           &nbsp;&nbsp;

           <p></p>

           <a href="{{ site.baseurl }}/company/byjus/"><img src="{{ site.baseurl }}/company/byjus.png" alt="byjus" width="75" height="75"> </a>

           &nbsp;&nbsp;

           <a href="{{ site.baseurl }}/company/cashify/"><img src="{{ site.baseurl }}/company/cashify.png" alt="cashify" width="75" height="75"> </a>

           &nbsp;&nbsp;

           <a href="{{ site.baseurl }}/company/earlysalary/"><img src="{{ site.baseurl }}/company/earlysalary.svg" alt="earlysalary" width="75" height="75"> </a>

           &nbsp;&nbsp;

           <a href="{{ site.baseurl }}/company/fabhotels/"><img src="{{ site.baseurl }}/company/fabhotels.png" alt="fabhotels" width="75" height="75"> </a>

           &nbsp;&nbsp;<p></p>

           <a href="{{ site.baseurl }}/company/kissht/"><img src="{{ site.baseurl }}/company/kissht.png" alt="kissht" width="75" height="75"> </a>

           &nbsp;&nbsp;

           <a href="{{ site.baseurl }}/company/magicbricks/"><img src="{{ site.baseurl }}/company/magicbricks.png" alt="magicbricks" width="75" height="75"> </a>

           &nbsp;&nbsp;

           <a href="{{ site.baseurl }}/company/pariksha/"><img src="{{ site.baseurl }}/company/pariksha.png" alt="pariksha" width="75" height="75"> </a>

           &nbsp;&nbsp;

           <a href="{{ site.baseurl }}/company/pratilipi/"><img src="{{ site.baseurl }}/company/pratilipi.webp" alt="pratilipi" width="75" height="75"> </a>

           &nbsp;&nbsp;<p></p>

           <a href="{{ site.baseurl }}/company/safexpay/"><img src="{{ site.baseurl }}/company/safexpay.png" alt="safexpay" width="75" height="75"> </a>

           &nbsp;&nbsp;

           <a href="{{ site.baseurl }}/company/truein/"><img src="{{ site.baseurl }}/company/truein.svg" alt="truein" width="75" height="75"> </a>

           &nbsp;&nbsp;

           <a href="{{ site.baseurl }}/company/unbox/"><img src="{{ site.baseurl }}/company/unbox.png" alt="unbox" width="75" height="75"> </a>

           &nbsp;&nbsp;

           <a href="{{ site.baseurl }}/company/yulu/"><img src="{{ site.baseurl }}/company/yulu.svg" alt="yulu" width="75" height="75"> </a>

           &nbsp;&nbsp;

           <a href="{{ site.baseurl }}/company/zolve/"><img src="{{ site.baseurl }}/company/zolve.svg" alt="zolve" width="75" height="75"> </a>
        </div>
    </div>
</div>