<div id="search-bar">
    <label id="search"/>
    <div id="search-result"></div>
</div>        

<form id="flight-form" role="search" action="{{ site.baseurl }}/search/" method="get" target="_blank" onsubmit="return setAction(this)">
    <div id="flight-info">
      <div class="info-box">
        <label for="categories"><h8 style="color:#4ba0eb;"><b>CATEGORIES</b></h8></label>
        <select name="categories" id="categories">
          <option value="it">IT / SOFTWARE DEVELOPMENT</option>
          <option value="marketing">MARKETING / ADVERTISING</option>
          <option value="finance">FINANCE</option>
          <option value="design">DESIGN / UX</option>

          <option value="support">BUSNIESS OPERATIONS / SUPPORT</option>
          <option value="sales">SALES</option>
          <option value="product">PRODUCT MANAGEMENT</option>
          <option value="hr">HR / RECRUTING</option>

          <option value="maintenance">MAINTENANCE</option>
          <option value="intern">INTERNSHIPS</option>
          <option value="other">OTHERS</option>
        </select>
      </div>
      <div class="info-box">
        <label for="experience"><h8 style="color:#4ba0eb;"><b>EXPERIENCE</b></h8></label>
        <select name="experience" id="experience">
          <option value="0-2">0-2</option>
          <option value="2-5">2-5</option>
          <option value="5-8">5-8</option>
          <option value="8-10">8-10</option>
          <option value="10+">10+</option>
        </select>
      </div>
      <div class="info-box">
        <label for="location"><h8 style="color:#4ba0eb;"><b>LOCATION</b><h8></label>
        <select name="location" id="location">
          <option value="Ahmedabad">Ahmedabad</option>
          <option value="Andheri">Andheri</option>
          <option value="Bangalore">Bangalore</option>
          <option value="Chennai">Chennai</option>
          <option value="Delhi">Delhi</option>
          <option value="Gurugram">Gurugram</option>
          <option value="Hyderabad">Hyderabad</option>
          <option value="Indore">Indore</option>
          <option value="Kolkata">Kolkata</option>
          <option value="Noida">Noida</option>
          <option value="Pune">Pune</option>
          <option value="Remote">Remote</option>
          <option value="Thane">Thane</option>
        </select>
      </div>
    </div>
  
    <div id="flight-search">
      <div class="info-box">
        <input type="submit" id="search-flight" value="SEARCH JOBS"/>
      </div>
    </div>

</form> 

<div id="confirm"></div>

