<!--<div id="search-bar">
    <input id="search" type="text" autocomplete="off" placeholder="Search by keyword like java, marketing, pune , 0-2 etc." />
    <div id="search-result"></div>
</div>-->


    <form id="flight-form" onsubmit="myFunction()">
    <div id="flight-info">
      <div class="info-box">
        <label for="categories">CATEGORIES</label>
        <select name="categories" id="categories">
          <option value="it">IT / SOFTWARE DEVELOPMENT</option>
          <option value="marketing">MARKETING / ADVERTISING</option>
          <option value="finance">FINANCE</option>
          <option value="design">DESIGN / UX</option>

          <option value="support">BUSNIESS OPERATIONS / SUPPORT</option>
          <option value="sales">SALES</option>
          <option value="product">PRODUCT MANAGEMENT</option>
          <option value="hr">HR / RECRUTING</option>

          <option value="maintenance">MAINTENANCE</option>
          <option value="intern">INTERNSHIPS</option>
          <option value="other">OTHERS</option>
        </select>
      </div>
      <div class="info-box">
        <label for="experience">EXPERIENCE</label>
        <select name="experience" id="experience">
          <option value="0-2">0-2</option>
          <option value="2-5">2-5</option>
          <option value="5-8">5-8</option>
          <option value="8-10">8-10</option>
          <option value="10+">10+</option>
        </select>
      </div>
      <div class="info-box">
        <label for="location">LOCATION</label>
        <select name="location" id="location">
          <option value="Bangalore">Bangalore</option>
          <option value="Pune">Pune</option>
          <option value="Hyderabad">Hyderabad</option>
          <option value="Pune">Pune</option>
          <option value="Gurugram">Gurugram</option>
          <option value="Delhi">Delhi</option>
        </select>
      </div>
    </div>

    <div id="search-bar">
        <input type="submit" id="search" value="SEARCH JOB"/>
        <div id="search-result"></div>
    </div>
    </form> 


<!--<div id="search-bar">
    <input id="search" type="text" autocomplete="off" placeholder="Search by keyword like java, marketing, pune , 0-2 etc." />
    <div id="search-result"></div>
</div>

<p></p>
<p></p>
</br>


<div class="flight" id="flightbox">
<form id="flight-form">
<div id="flight-info">
  <div class="info-box">
    <label for="categories">CATEGORIES</label>
    <select name="categories" id="categories">
      <option value="it">IT / SOFTWARE DEVELOPMENT</option>
      <option value="marketing">MARKETING / ADVERTISING</option>
      <option value="finance">FINANCE</option>
      <option value="design">DESIGN / UX</option>

      <option value="support">BUSNIESS OPERATIONS / SUPPORT</option>
      <option value="sales">SALES</option>
      <option value="product">PRODUCT MANAGEMENT</option>
      <option value="hr">HR / RECRUTING</option>

      <option value="maintenance">MAINTENANCE</option>
      <option value="intern">INTERNSHIPS</option>
      <option value="other">OTHERS</option>
    </select>
  </div>
  <div class="info-box">
    <label for="experience">EXPERIENCE</label>
    <select name="experience" id="experience">
      <option value="0">0-2</option>
      <option value="1">2-5</option>
      <option value="0">5-8</option>
      <option value="3">8-10</option>
      <option value="3">10+</option>
    </select>
  </div>
  <div class="info-box">
    <label for="location">LOCATION</label>
    <select name="location" id="location">
      <option value="loc1">Bangalore</option>
      <option value="loc2">Pune</option>
      <option value="loc3">Hyderabad</option>
      <option value="loc4">Pune</option>
      <option value="loc5">Gurugram</option>
      <option value="loc6">Delhi</option>
    </select>
  </div>
</div>

<div id="flight-search">
<div class="info-box">
  <input type="submit" id="search-flight" value="SEARCH FLIGHTS"/>
</div>
</div>
</form> 
</div>
<div id="confirm"></div>-->